.pantry {
    font-family: Futura-Medium;
    font-size: 32px;
    color: #333333;
    text-align: left;
    justify-self: start;
    background-color: #FFFFFF;
    grid-area: pantries;
    width: 95%;
    height: 95%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.pantryElement {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 20px;
}

.pantryContent {
    margin-left: 30px;
}

.pantryLink{
    color: #333333;
}

h1 {
    font-weight: normal;
    color: #333333;
    height: 32px;
}