.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
   align-items: center;
  justify-content: center;
  pointer-events: none;
}

.App-header {
  background-color: #F6F6F6;
  height: 36px;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  z-index: 10;
}

.App-link {
  color: #61dafb;
}

header {
  height: 36px;
}

h1 {
  height: 100%;
  font-size: 100%;
}

input {
  -webkit-appearance: none;
  background-color: #F6F6F6;
  color: #909090;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 0px;
  height: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px; 
  border: 1px solid #979797;
  font-family: Futura-Medium;
  font-size: 20px;
  z-index: 9999;
}

textarea {
  -webkit-appearance: none;
  background-color: #F6F6F6;
  color: #909090;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 0px;
  height: 120px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 9px; 
  border: 1px solid #979797;
  font-family: Futura-Medium;
  font-size: 20px;
  z-index: 9999;
}
